#menu ul {
    background-color: #1A0099; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
#menu li {
    display: inline-flex;
    font-size: 20px;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
}

body {
    background-color: #B9D9EB;
}