<!DOCTYPE html>
<html>
    <head>
		<title>About Me</title>
		<link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <head>

    <body>
        <div>
            <nav>
                <ul style="list-style: none"; id="menu">               
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('classes') }}">Classes</a></li>
                    <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                </ul>
            </nav>
        </div>

		<h2>About:</h2>

		<p>
		JACKSON GREGG<br>
		248-252-1102<br>
		jacksongregg11@gmail.com jmg2353@columbia.edu
		</p>
	
		<p>
		EDUCATION:
	    	<ul style="list-style: none;">
	        	<li>Columbia University - New York, NY 9/19 - 5/23</li>
				<li>    ● Pursuing a Bachelor of Science in Applied Mathematics.</li>
				<li>Bloomfield Hills High School - Bloomfield Township, MI 9/15 - 6/19</li>
				<li>    ● GPA: 3.93 (unweighted).</li>
				<li>    ● Dual Enrollment at Oakland Community College - Royal Oak, MI 5/18 - 8/19</li>
	    	</ul>
		</p>	

		<p>
		WORK EXPERIENCE:<br>
		West Bloomfield Public Library - Computer Page - West Bloomfield, MI 9/18 - 8/19<br>
		    ● Responsible for assisting patrons with computer issues and cleaning computer surfaces.<br>
		Kroger Supermarkets - Courtesy Clerk - Bloomfield Twp., MI 6/18 - 9/18<br>
	    	● Duties include bagging groceries, assisting customers, shelving, and cleaning.<br>
		Bloomfield Hills Country Club - Caddy - Bloomfield Hills, MI 6/17 - 9/17<br>
	    	● Assisted golfers in carrying bags, provided equipment upon request, and cleaning golf balls.
		</p>	

		<p>
		SKILLS:<br>
		Programming Languages: Python, Java, C++, HTML, and CSS<br>
		Leadership Training: COOP Pre-Orientation Canoeing Experience 8/19<br>
		French: Intermediate conversational speaking, writing, and reading skills.
		</p>	

		<p>
		VOLUNTEER SERVICE:<br>
		West Bloomfield Township Public Library - Volunteer 6/14 - 8/19<br>
		    ● Duties involved deleting withdrawn books, organizing shelves, and running youth and teen events.<br>
		Youth Action Board - Co-Vice President and Director of Fundraising 9/15 - 7/19<br>
		    ● Addressed substance abuse, mental health, and anxiety in my community through activism.
		</p>

		<p>
		ACTIVITIES AND AWARDS:
		
	    	<ul style="list-style: none;">
	        	<li>Residence Hall Leadership Organization VP of Advocacy: Addressed students’ concerns in my residence hall.</li>
	        	<li>180 Degrees Consulting: Helped socially conscious organizations achieve funding goals and improve services.</li>
	        	<li>Columbia Undergraduate Math Society: Attended lectures on advanced math topics.</li>
	        	<li>Gaming Club: Played strategic board games and hidden-role games.</li>
	        	<li>Kevin T. Roach Scholarship: The Fu Foundation of Engineering and Applied Science</li>
	        	<li>AP Scholar with Distinction</li>
	        	<li>National Merit Letter of Commendation</li>
	        	<li>Columbia University Science Journal Summer Publishing Program 7/19 - 8/19</li>
	        	<li>Composed and edited scientific articles for the Columbia University Science Journal.</li>
	        	<li>Ford Research and Advanced Engineering Science and Technology Program 9/15 - 5/19</li>
	        	<li>Attended six seminars, involving Ford Engineers describing their fields of research.</li>
	    		</ul>
		</p>	

		<p>
		Hobbies:<br>
		Running, Cooking, Reading, Debating, Playing Board Games
		</p>
    </body>
</html>

