<!DOCTYPE html>
<html>
    <head>
        <title>Jackson Gregg - About</title>
    <head>

    <body>
        <h2>About:</h2>

        <nav>
	    <p><strong>Navigation</strong></p>

            <ul>               
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('classes') }}">Classes</a></li>
                <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
            </ul>
        </nav>


        <p></p>
    </body>
</html>

