<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <title>Jackson Gregg - Home</title>
    </head>

    <body>
        <div>
            <nav>
                <ul style="list-style: none"; id="menu">               
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('classes') }}">Classes</a></li>
                    <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                </ul>
            </nav>
        </div>

        <h2>Home</h2>

        <img src="/static/images/Jackson Gregg.jpg" alt="Jackson Gregg">

    </body>
</html>
